{% extends "layout.html" %}
{% load static %}
{% block body %}

<body id="bg" 
style="background-image: url('{% static 'img/e.jpg' %}');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;">
    
</body>

<div class="container" style="color: white; font-size: large;">
    <!-- <div class="row">
        <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div> -->
    
    <form method="POST" onsubmit="valid()">
        <!-- <form method="POST"> -->
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-6">
                <label for="firstname" class="form-label">First Name</label>
                <input name="firstname" class="form-control" id="firstname">
                </div>
                <div class="col-md-6">
                <label for="lastname" class="form-label">Last Name</label>
                <input name="lastname" class="form-control" id="lastname">
            </div>

            <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input name="email" class="form-control" id="inputEmail4" placeholder="abc@gmail.com">
            </div>
            <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword4">
                <span id="testlogin"></span>
            </div>
            <div class="col-12">
            <label for="inputAddress" class="form-label">Present Address</label>
            <input name="presentAdd" class="form-control" id="inputAddress" placeholder="#House, #Block, #Road">
            </div>
            <!-- <div class="col-12">
            <label for="inputAddress2" class="form-label">Parmanent Address</label>
            <input name="parmanentAdd" class="form-control" id="inputAddress2" placeholder="#House, #Thana, #Sub-District, #District">
            </div> -->
            <div class="col-md-4">
            <label for="inputCity" class="form-label">Zip code</label>
            <!-- <input name="code" class="form-control" id="inputZip" placeholder="1206"> -->
            <input name="parmanentAdd" class="form-control" id="inputAddress2" placeholder="1206">
            </div>
            <!-- <div class="col-md-4">
            <label for="inputState" class="form-label">District</label>
            <select name="district" id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>Dhaka</option>
                <option>Barishal</option>
                <option>Sylhet</option>
                <option>Rajshahi</option>
                <option>Khulna</option>
                <option>Chattogram</option>
                <option>Rangpur</option>
            </select>
            </div> -->
            <div class="row-g-1">
            <label for="inputZip" class="form-label">Country</label>
            <input name="city" class="form-control" id="inputCity" placeholder="Bangladesh">
            </div>
            <!-- <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                Check me out
                </label>
            </div>
            </div> -->
            <div class="col-12">
            <button name="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>

    <p align="center" style="font-size: 35px;">Already have an account? <a href="{% url 'login' %}">Log in</a></p>

</div>


<script>
    
function valid() {
    var p = document.getElementById('inputPassword4').value;
    var count = 0;

    for (let i = 0; i < p.length; i++) {
        if (p[i] >= 'A' && p[i] <= 'Z') {
            count ++;
            break;
        }
    }

    for (let i = 0; i < p.length; i++) {
        if (p[i] >= 'a' && p[i] <= 'z') {
            count ++;
            break;
        }
    }

    for (let i = 0; i < p.length; i++) {
        if (p[i] >= '0' && p[i] <= '9') {
            count ++;
            break;
        }
    }

    for (let i = 0; i < p.length; i++) {
        if (p[i] == '@' || p[i] == '#' || p[i] == '$' || p[i] == '&' || p[i] == '%') {
            count ++;
            break;
        }
    }

    if (count >= 4) {
        // alert("Password matched");
    }
    else{
        document.getElementById('testlogin').innerHTML = 'Requirement not matched!!';
    }

    // event.preventDefault();
}

</script>

{% endblock %}
